*{
	margin: 0;
	padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
div.container {
    width: 100%;
    height: 100%;
    background: #42455a;
}
body {
    width: 100%;
    height: 100%;
    background: #42455a;
}
ul.menu {
    list-style-type: none;
    margin: 50px;
    padding: 0;
    overflow: hidden;
    background-color: #42455a;
}

ul.menu li {
    float: left;
    cursor: pointer;
    color: #b2b1b1;
}

ul.menu li a, .dropbtn {
    display: block;
    color: #b2b1b1;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
}
li.dropdown {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    
    background-color: #42455a;
    min-width: 160px;
    box-shadow: 20px 80px 160px 55px rgba(0,0,0,0.3);
    z-index: 1;
}

.dropdown-content a {
    color: pink;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
background-color: #b2b1b1;
color:#42455a;
}

.dropdown:hover .dropdown-content {
    display: block;
}

 @media only screen and (max-width:500px){
        ul.menu {width:100%;}
    ul.menu li {float: none;}
    ul.menu li a {text-align:left;}
    ul.menu li.dropdown div.dropdown-content {width:100%;}
    ul.menu li.dropdown div.dropdown-content a {text-align:left;}
    }
    
a {
  list-style: none;
	margin: 0 20px;
	color: #b2b1b1;
	cursor: pointer;
    text-decoration: none;
}
a:visited {
  list-style: none;
	margin: 0 20px;
	color: #b2b1b1;
	cursor: pointer;
    text-decoration: none;
}
a:hover {
  list-style: none;
	margin: 0 20px;
	color: #b2b1b1;
	cursor: pointer;
    text-decoration: none;
}
.logo img{
    width: 70px;
    margin-top: -7px;
    margin-right: 48px;
}
.active{
    color: #19dafa;
}
.dealerships{
    top: 50px;
    right: 80px;
    position: absolute;
    text-decoration: none;
    color: #fff;
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(#42455a,#42455a),radial-gradient(circle at top left,#fd00da,#19d7f8);
    background-origin: border-box;
    background-clip: content-box,border-box;
}
.dealerships span{
    display: block;
    padding: 8px 22px;
}
.banner{
    width: 80%;
    height: 70%;
    top: 20%;
    left: 5%;
    position: absolute;
    color: #fff;
}
.apptext h1{
    font-size: 200%;
    width: %200;
    position: relative;
    margin-left: 40px;
}
.apptext p{
    width: 50%;
    font-size: 130%;
    margin: 30px 0 30px 50px;
    
    line-height: 60px;
    color: #919191;
}
.mainpage-banner{
    width: 50%;
    float: left;
}
.mainpage-banner img{
    width: 150%;
}
.column {
  float: left;
  width: 50%;
  padding: 10px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
productpage {
    width: 100%;
    height: 100%;
    background: black;
}